<div class="reporting">
	<div class="reporting-select-row">
		<div class="reporting-select-label">Choose yourself or your companion</div>
		<select class="reporting-select"
				ng-model="report.member"
				ng-options="m as m.name for m in members"
		></select>
	</div>
	<textarea class="reporting-input" 
			  placeholder="Write who you visited and any comments you might have"
			  ng-model="report.report"
	></textarea>
	<div class="reporting-submit u-pointer" ng-click="submitReport()">Submit</div>
</div>