/*		Members View 		*/

.members {
	margin: 30px auto;
	width: 950px;
}

.members-search-header {
	color: rgba(0,0,0,.7);
	display: inline-block;
	font-size: 22px;
	width: 54%;
}

.members-search-input {
	display: inline-block;
	font-size: 16px;
	padding: 10px 5px;
	width: 45%;
}

.members-table {
	border-collapse: collapse;
	margin-top: 30px;
	min-width: 950px;
}

.members-table a {
	color: rgba(0, 145, 188, 1);
}

.members-table a:hover {
	color: rgba(0, 145, 188, .5);
}

.members-table th {
	color: rgba(0,0,0,.7);
	font-size: 20px;
	text-align: left;
}

.members-table th:hover {
	cursor: pointer;
}

.members-row td, .members-table th {
	padding: 15px 10px;
}

.members-row:nth-child(odd) {
	background-color: rgba(100,100,100,.1);
}
