<div class="comment-container">
	<div class="comment-body u-inline">
		<div class="comment-message">{{comment.message}}</div>
		<div class="comment-actions">
			<div class="u-inline u-pointer" ng-click="like()">
				<span class="u-inline" i18n="msg_like"></span>
				<img class="u-inline" src="resources/images/like-tick.png" width="12" ng-show="hasLiked"/>
			</div>
			<div class="u-inline u-pointer" ng-click="share()" i18n="msg_share"></div>
		</div>
	</div>
	<div class="comment-side u-inline u-label-xsmall">
		<div i18n-plural="{'1': 'msg_likes_single', 'other': 'msg_likes_other'}" count="comment.likes.length"></div>
		<div i18n-plural="{'1': 'msg_shares_single', 'other': 'msg_shares_other'}" count="comment.shares"></div>
	</div>
</div>