/*		Home View 		*/

.home-background {
	background: url('http://jesuschrist.lds.org/bc/content/New%20Home%20Page%20Images/Final/savior-soft_edges.png');
	background-repeat: no-repeat;
	width: 1000px;
	height: 500px;
	right: 0;
	bottom: 50px;
	position: absolute;
	z-index: -1;
}

.home-body {
	background-color: rgba(255,255,255,.1);
	height: 500px;
	margin: 55px 0 20px 12%;
}

.home-welcome {
	font-size: 50px;
	margin-bottom: 30px;
}

.home-welcome > div {
	margin-top: 10px;
}

.home-presidency-member {
	font-size: 14px;
	margin-bottom: 10px;
}

.home-presidency-member > a {
	color: rgba(0, 145, 188, 1);
}

.home-presidency-member > a:hover {
	color: rgba(0, 145, 188, .5);
	cursor: pointer;
}

.home-verses {
	width: 400px;
	color: rgba(0,0,0,.8);
	margin-top: 30px;
	opacity: 0;
}

.home-verse-header {
	font-size: 34px;
	text-decoration: underline;
}

.home-verse {
	line-height: 18px;
	margin-top: 10px;
}

.home-verse-ref {
	color: rgba(0, 145, 188, 1);
	margin-top: 10px;
}

@media screen and (max-width: 1000px) {
	.home-background {
		left: 0;
	}
}
